* {
  font-family: "Azeret Mono", monospace;
}
.login__main {
  padding: 30px;
}
.login-header {
  display: flex;
  justify-content: center;
  padding: 58px 31px 0px 1px;
  font-size: 43px;
  color: #0f0326;
}

.login-form {
  display: flex;
  justify-content: center;
  /* margin-top: 50px; */
  left: 50px;
  padding: 43px 72px 65px 72px;
  color: #aa0808;
}

.login-block-alignment {
  margin-bottom: 20px;
}

.login-input {
  width: 345px !important;
}
.btn__div {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.login-btn {
  color: white !important;
  background-color: #41c485 !important;
  width: 40% !important;
}
.login-btn:hover {
  transform: scale(1.1);
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ee2222;
  color: white;
  text-align: center;
}
.footer__flag {
  padding: 20px;
}
.risks__main,
.product__card__main {
  padding: 40px;
}
.card {
  color: rgb(146, 133, 133) !important;
  margin-bottom: 30px;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.1);
}
.card-title {
  font-weight: 900 !important;
  color: black !important;
}
.auth {
  cursor: pointer;
}
.auth:hover {
  transform: scale(1.1);
}
